body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #ff6b6b, #ffe66d);
    color: #333;
}

header {
    background-color: #ff6b6b;
    color: white;
    text-align: center;
    padding: 2rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.content {
    background-color: white;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
}

h3 {
    color: #ff6b6b;
}

p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}
.github-button {
    display: inline-flex;
    align-items: center;
    background: linear-gradient(to right, #ff6b6b, #ff4757);
    color: white;
    text-decoration: none;
    font-size: 1.0rem;  
    padding: 0;       
    border-radius: 10px; 
    transition: background 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 3in;      
    height: 0.5in;    
    justify-content: center; 
    overflow: hidden;
    text-align: center; 
    line-height: 1in;  
}

.github-button:hover {
    background: linear-gradient(to right, #ff4757, #ff6b6b);
}

.github-logo {
    width: 0.5in;  
    height: 0.5in;
    margin-right: 4px;  
}
.repository-heading {
    color: #ff6b6b;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.repository-list {
    list-style-type: disc;
    margin-left: 20px;
}

.repository-list li a {
    color: #1a73e8; 
    text-decoration: none;
    font-size: 1.2rem;
}

.repository-list li a:hover {
    color: #ff6b6b;
}
